@default-state-color: rgb(246, 168, 8);
@published-state-color: rgb(0, 123, 193);
@private-state-color: rgb(237, 64, 51);
@border-color: rgba(0, 0, 0, 0.3);
@progress-indicator-color: #607d8b;
@progress-green: darkseagreen;
@progress-circle-diameter: 26px;
@progress-spacing: 20px;
@progress-padding: @progress-circle-diameter + 2 * @progress-spacing;
@progress-sidebar-width: 200px;
@progress-sidebar-left: 80px;

.toolbar-workflow-progress {
  margin-bottom: 20px;
  text-align: center;
}

.circle-right-btn {
  display: inline-block !important;
  width: 45px;
  height: 45px;
  border: 2px solid @default-state-color !important;
  margin: 4px 2px;
  margin-bottom: 0.5rem !important;
  border-radius: 50%;
  color: @default-state-color !important;
  cursor: pointer !important;
  font-size: 10px;
  font-weight: 600;
  text-align: center !important;
  text-decoration: none;
}

.sidenav-ol {
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 8px 0;
  background: #fff;
  box-shadow: 0 1px 2px 0 #c7d5d8;
  overflow-x: hidden;

  &.sidenav-ol--wp {
    left: @progress-sidebar-left;
    width: @progress-sidebar-width;
  }
}

.is-hidden {
  display: none !important;
}

.progressContainer {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 100vh;
  padding: 2rem;
  margin: 0 auto;
  background: @progress-indicator-color;
  -moz-box-shadow: 0 0 15px @border-color;
  -webkit-box-shadow: 0 0 15px @border-color;
  box-shadow: 0 0 15px @border-color;
  color: #fff;
}

.progress-reversed {
  position: relative;
  padding: 0 1rem 0 @progress-padding;
  margin: 2rem 0 0;
  counter-reset: item;
  list-style: none;
}

.review-state-text {
  color: @published-state-color !important;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.review-state-text {
  border-color: @default-state-color !important;
  color: @default-state-color !important;
}

.review-state-published {
  border-color: @published-state-color !important;
  color: @published-state-color !important;
}

.review-state-private {
  border-color: @private-state-color !important;
  color: @private-state-color !important;
}

.progress__item {
  position: relative;
  min-height: 75px;
  counter-increment: item -1;

  &:before {
    position: absolute;
    top: @progress-circle-diameter;
    left: -@progress-padding / 2 - 1px;
    width: 1px;
    height: calc(100% - @progress-circle-diameter);
    border-left: 1px solid @progress-indicator-color;
    content: '';
  }

  &:after {
    position: absolute;
    top: 0;
    left: -@progress-circle-diameter - @progress-spacing;
    width: @progress-circle-diameter;
    height: @progress-circle-diameter;
    border: 1px solid @progress-indicator-color;
    background: white;
    border-radius: 50%;
    color: #000;
    content: ' ';
    font-size: 13px;
    font-weight: 400;
    line-height: @progress-circle-diameter + 2px;
    text-align: center;
  }

  &:last-child {
    &:before {
      border: none;
    }
  }
}

.progress__item.progress__item--completed {
  &:before {
    border-color: @progress-green;
  }
  color: @progress-green;

  &:after {
    background: @progress-green;
    color: white;
    content: '\2713';
    font-weight: 400;
  }
}

.progress__title {
  padding: 0.4rem 0 0.5rem;
  margin: 0;
  font-size: 1rem;
  opacity: 1;
}

.progress__item.progress__item--active {
  &:after {
    background: white;
    color: @progress-green;
    content: '\2022';
    font-size: 52px;
  }

  .progress__title.title-incomplete {
    opacity: 0.4;
  }
}

.progress__item.progress__item--next {
  opacity: 0.4;
}

.progress__info {
  font-size: 13px;
}
